<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Form login</h1>
    <form action="/login" method="post">
        <label for="">Masukan Email</label>
        <br/>
        <input type="text" name="email" value="">
        <br/>
        <label for="">Masukan Password</label>
        <br/>
        <input type="password" name="password" value="">
        <br/>
        <input type="submit" name="" value="login">
    </form>
    
</body>
</html>